<div class="app-shell">
  <header class="app-header">
    <h1>💰 Expense Calculator</h1>
    <h2>Understand your monthly expense</h2>
  </header>

  <div>
  
  <form [formGroup]="form1" (submit)="CalculateExpense(1)">
    <h2>Basic Expense</h2>
    <div class="form-row" formGroupName="grocery_expense">
      <label>Grocery Expense</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="RENT">
      <label>Rent</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="everyday_adhoc">
      <label>Everyday Adhoc</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

      <h2>Essential Expense :</h2>

      <div class="form-row" formGroupName="lpg">
        <label>LPG Expense: </label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="mobile_recharge">
        <label>Mobile / SIM recharge Expense:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="internet_Recharge">
        <label>Internet Recharge:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="Drinking_Water_Bill">
        <label>Drinking Water Expense ( RO water-purifier, 25L Water Can purchase ):</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="milk_subscription">
        <label>Milk Subscription ( Monthy Avin card, Online Milk delivery ):</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="electric_bill">
        <label>Electricity Bill:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="2">2M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="society_maintenance">
        <label>society maintenance ( Appartment Maintenance free, colony common free ):</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="Insurance">
        <label>Insurance( Complete Insurance Expense ):</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
          <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="adhoc_expense">
        <label>adhoc expense ( parking fee, Toll charges, laundry .. etc):</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <h2>Entertainment Expense :</h2>

       <div class="form-row" formGroupName="movie_budget">
        <label>Movies/Theater Expense:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="tv_subscription">
        <label>Cable TV, satellite dish TV subscription:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <h3> Streaming Subscriptions </h3>

      <div class="form-row" formGroupName="netflix">
        <label>netflix:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="prime">
        <label>prime:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="hotstar">
        <label>hotstar:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="sonyliv" >
        <label>sonyliv:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="crunchyroll">
        <label>crunchyroll:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="zee5">
        <label>zee5:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <h3> Game Pass Subscriptions </h3>

      <div class="form-row" formGroupName="ps5_pass">
        <label>ps5 game pass:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

      <div class="form-row" formGroupName="xbox_pass">
        <label>xbox game pass:</label>
        <div class="compound-input">
          <input type="number" formControlName="value">
         <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
        </div>
      </div>

       <h2>lifestyle Expense</h2>

      <div class="form-row" formGroupName="gym">
      <label>gym membership cost</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="parlour">
      <label>parlour, haircut, hairstyling, grooming</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="club">
      <label>social club, sport club expense:</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="Cosmetics">
      <label>Skin care product, Hair care products or any cosmetic product budget:</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="DinningOut">
      <label>Dinning Out or Online Food Bill:</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>


    <h2>Professional Expense</h2>

    <div class="form-row"   formGroupName="Adobe">
      <label>Software Subscription like Adobe:</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="VPN">
      <label>VPN Subscription</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

    <div class="form-row" formGroupName="Cloud_Hosting">
      <label>Cloud Hosting Expense:</label>
      <div class="compound-input">
        <input type="number" formControlName="value">
       <select formControlName="term" ><option [ngValue]="1">1M</option><option [ngValue]="3">3M</option><option [ngValue]="6">6M</option><option [ngValue]="12">12M</option></select>
      </div>
    </div>

  </form>

  <div class="results-section">
    <button (click)="generateTotalExpense()" class="generate-btn">Calculate Yearly & Monthly</button>
    <div class="expense-results" *ngIf="monthlyExpense > 0">
      <div class="expense-card">
        <span class="label">Monthly Expense</span>
        <span class="amount">₹{{monthlyExpense | number:'1.2-2'}}</span>
      </div>
      <div class="expense-card">
        <span class="label">Yearly Expense</span>
        <span class="amount">₹{{yearlyExpense | number:'1.2-2'}}</span>
      </div>
    </div>
  </div>
</div> 
